/*********************  MEDIA QUERY  *********************/
@media screen and (max-width: 768px) {
    /******** INDEX ********/
  
    .padreGridIndex {
      display: grid;
      grid-template-areas: "tituloGrid tituloGrid" "card1 card2" "card3 card4";
    }
  
    .contenedorindex {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  
      img {
        padding: 10px;
      }
    }
  
    /***** SOBRE NOSOTROS *****/
  
    .contenedorSN {
      img {
        width: 100%;
      }
  
      .sobreNosotros h2 {
        text-align: center;
        margin-bottom: 10px;
        font-size: 30px;
      }
    }
  
    .comoComprar .infoComprar {
      h2 {
        font-size: 30px;
      }
  
      p {
        font-size: 20px;
      }
    }
  
    .nuestroLocal {
      display: flex;
      flex-direction: column;
  
      iframe {
        width: 100%;
      }
    }
  
    /***************RECITALES***************/
  
    .padreRecitalGrid {
      display: grid;
      grid-template-areas: "tituloGrid tituloGrid" "cardR1 cardR2" "cardR3 cardR4" "cardR5 cardR6" "cardR7 cardR8" "footerGrid footerGrid";
      gap: 10px;
    }
  
    /****************CONTACTO****************/
  
    .contacto {
      width: 70%;
    }
  }
  
@media screen and (max-width: 375px) {
    /******** INDEX ********/
    .padreGridIndex {
        display: grid;
        grid-template-areas: "tituloGrid" "card1" "card2" "card3" "card4";
    }

    .contenedor img {
        display: none;
    }

    .titulo {
        font-size: 30px;
    }

    /******** SOBRE NOSOTROS ********/
    .contenedorSN {
        img {
        display: none;
        }

        .sobreNosotros {
        padding: 0;
        margin: 0;
        width: 100%;
        }
    }

    .comoComprar {
        flex-wrap: wrap;

        .infoComprar {
        width: 100%;
        padding: 10px;

        h2 {
            font-size: 33px;
        }
        }

        iframe {
        padding: 10px;
        width: 100%;
        height: 200px;
        }
    }

    .nuestroLocal {
        flex-wrap: wrap;

        iframe {
        padding: 10px;
        width: 100%;
        height: 300px;
        }

        .infoNuestroLocal {
        width: 100%;
        padding: 5px;
        }
    }

    /********* RECITALES******** */
    .padreRecitalGrid {
        display: grid;
        grid-template-areas: "tituloGrid" "cardR1" "cardR2" "cardR3" "cardR4" "cardR5" "cardR6" "cardR7" "cardR8" "footerGrid";
        gap: 10px;
    }

    /****************CONTACTO****************/
    .contacto {
        width: 90%;

        input, textarea {
        width: 100%;
        }
    }

    .formulario .boton {
        width: 100%;
    }
}